<div class="p-4 bg-gray-800 rounded-b-xl min-h-[400px]">
    <div class="bg-black/50 p-4 rounded-lg font-mono text-sm text-green-400 h-[380px] overflow-y-auto border border-gray-700">
        <p>[2023-11-18 10:00:01] [Chrome]: facebook.com<br/></p>
        <p>[2023-11-18 10:00:05] [Chrome]: user_login<br/></p>
        <p>[2023-11-18 10:00:10] [Chrome]: *********<br/></p>
        <p class="text-gray-500 mt-2">--- User switched to Notepad ---</p>
        <p>[2023-11-18 10:05:22] [Notepad]: Hello world, this is a test log from the agent.</p>
        <span class="animate-pulse">_</span>
    </div>
</div>