@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<article
    class="rounded-xl shadow-lg shadow-black/20 hover:shadow-2xl hover:shadow-black/30 transition-all duration-300 max-w-[18rem] mx-auto overflow-hidden">
    <h1 class="text-3xl text-red-700 font-bold underline border border-amber-200">
        HCMUS - CTT5
    </h1>
</article>
<Button />